// Colors
$green1 : #55bc75;
$green2 : #4daf7c;
$green3 : #3c9f68;

$white1 : #fff;
$white2 : rgba(255, 255, 255, 0.5);
$white3 : #fffef9;

$brown1 : #a9a8a4;
$brown2 : #81746c;
$brown3 : #f5f0ec;
$brown4 : #776b5d;
$brown5 : #64584c;
$brown6 : #f8f3f0; 

$red1 : #f4572c;
$red2 : #ac5537;
$yellow1: #f1c84c;

$shadow1 : rgba(70, 70, 70, 0.28);
